

    <div class="wrapper">
        <div class="card dark center" >
            <div class="logo">
                <img src="../../../assets/logo.png" alt="logo ABInBev">
                <p id="desc">Bienvenido a la información a Distribuidores</p> 
            </div>
            <form class="custom-form" >
                    <input  type="email" placeholder="Usuario">
                    <input  type="password" placeholder="Contraseña">
                    <button class="button btn btn-warning" type="submit">Ingresar</button>
            </form>
        </div>
    </div>


    



