
<!-- Sidebar -->
<div class="border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">
    <img src="assets/logo.png" alt="Logo ABinBev">
  </div>

  <div class="list-group list-group-flush">
    <h4>Ventas</h4>
    <a class="list-group-item list-group-item-action ">Avances de ventas</a>
    <a class="list-group-item list-group-item-action ">Cierre de Ventas Mensuales</a>
    <a class="list-group-item list-group-item-action ">Cierre de Ventas Acumulado</a>
    <a class="list-group-item list-group-item-action ">Stock SIID</a>
    <h4>Créditos y Cobranzas</h4>
    <a class="list-group-item list-group-item-action ">Composición de Deuda de Cuenta Corriente</a>
    <a  class="list-group-item list-group-item-action ">Resumen de Cuenta Corriente
    </a>
    <a href="#" class="list-group-item list-group-item-action ">Situación Crediticia</a>
  <!--   <a href="#" class="list-group-item list-group-item-action ">Detalles de Pagos</a> -->
    <a class="list-group-item list-group-item-action ">Saldo de Envases</a>
    <a href="#" class="list-group-item list-group-item-action ">Movimiento de Envases</a>
    <h4>Logística</h4>
    <a routerLink='recursos' class="list-group-item list-group-item-action ">Saldo de Envases</a>
    <a href="#" class="list-group-item list-group-item-action ">Movimiento de Envases</a>
  </div>
</div>
<!-- /#sidebar -->